{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3 left">
      <div class="row card-deck">
        {% for room in page_obj %}

        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card h-100" id="light-{{room.name}}-{{light.name}}">
            <div class="card-body">
              <div class="image-container">
                <div class="image-flash">
                  <h2 class="card-title">Lights in {{room.name}}</h2>
                </div>
              </div>
              <ul class="list-group">
                {% for light in room.lights.all %}
                <li id="light-{{room.name}}-{{light.name}}"
                  class="list-group-item d-flex justify-content-between align-items-center {% if light.get_state_display == 'on' %}light-on{% else %}light-off{% endif %} ">
                  <div class="d-flex align-items-center ">
                    {% if user.is_authenticated %}
                    <a href="{% url 'edit_light' light.id %}" class="btn btn-warning btn-sm">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'delete_light' light.id %}" class="btn btn-danger btn-sm ml-2">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    {% endif %}
                    <strong class="ml-2">{{light.name}}</strong>

                  </div>
                  <form method="post" action="{% url 'toggle_light' room.name light.name %}" class="toggle-light-form"
                    data-light-name="{{light.name}}" data-room-name="{{room.name}}">
                    {% csrf_token %}
                    <label class="switch">
                      <input type="checkbox" name="light_state" id="toggle-light-{{room.name}}-{{light.name}}" class="toggle-light-btn"
                        {%if light.get_state_display == 'on' %}checked{% endif %}>
                      <span class="slider round"></span>
                    </label>
                  </form>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="d-flex justify-content-between w-100">
              <a href="{% url 'edit_room' room.id %}" class="btn btn-edit-room flex-grow-1 mx-1">Edit Room</a>
              <a href="{% url 'delete_room' room.id %}" class="btn btn-delete-room flex-grow-1 mx-1">Delete Room</a>
            </div>
            {% endif %}
            <div class="card-footer"></div>
          </div>
        </div>

        {% if forloop.counter|divisibleby:3 and not forloop.last %}
      </div>
      <div class="row card-deck">
        {% endif %}
        {% endfor %}
      </div>

      <!-- Pagination -->
      {% if is_paginated %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
              <li class="page-item active"><span class="page-link">{{ num }}</span></li>
          {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
          {% endfor %}
      
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{page_obj.paginator.num_pages}}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
            </li>
            {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>



<div id="autoCloseModal"
  style="display:none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); z-index: 1050; background-color: #dff0d8; border-radius: 5px; padding: 15px; max-width: 500px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <div class="text-center" style="margin: 0;">
    <span id="modalMessage"></span>
    <button type="button" class="btn-close" style="position: absolute; top: 5px; right: 10px;" aria-label="Close"
      onclick="closeModal()"></button>
  </div>
</div>

<script>
  function closeModal() {
    const modal = document.getElementById('autoCloseModal');
    modal.style.display = 'none';
  }

  document.addEventListener('DOMContentLoaded', function () {
    const toggleButtons = document.querySelectorAll('.toggle-light-btn');

    toggleButtons.forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault(); // Anulează comportamentul implicit al checkbox-ului

            const form = this.closest('.toggle-light-form');
            const lightName = form.dataset.lightName;
            const roomName = form.dataset.roomName;
            const url = form.getAttribute('action');
            const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;
            const infoModal = document.getElementById('autoCloseModal');

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'X-Requested-With': 'XMLHttpRequest',
                }
            })
            .then(response => {
              if (!response.ok) {
                  return response.text().then(errorText => {
                  throw new Error(errorText);
                  });
              }
              return response.json(); // Dacă răspunsul este OK, returnăm JSON-ul
          })
            .then(data => {
                let stateText = data.state === "on" ? "turned on" : "turned off";
                let message = `Light ${lightName} in ${roomName} was ${stateText}`;

                document.getElementById('modalMessage').textContent = message;
                infoModal.style.display = 'block';

                const card = document.getElementById(`light-${roomName}-${lightName}`);
                const checkbox = form.querySelector('.toggle-light-btn');

                if (data.state === "on") {
                    card.classList.remove('light-off');
                    card.classList.add('light-on');
                    checkbox.checked = true;
                } else {
                    card.classList.remove('light-on');
                    card.classList.add('light-off');
                    checkbox.checked = false;
                }

            })
            .catch(error => {
                const errorData = JSON.parse(error.message);

                if (errorData.action && errorData.action === "go_to_settings") {
                    // Show a "Go to Settings" button if the error includes the action to go to settings
                    document.getElementById('modalMessage').innerHTML = `
                        ${errorData.error}
                        <br>
                        <button onclick="window.location.href='/settings'" class="btn btn-primary mt-2">
                            Go to Settings
                        </button>`;
                } else {
                    document.getElementById('modalMessage').textContent = `Error: ${errorData.error}`;
                }
                infoModal.style.display = 'block';
            });
            setTimeout(closeModal, 3000);
        });
    });
});
</script>

{% endblock %}
